.header__logo {
  width: calc(176/1280*100%);
  height: calc(52/1280*100%);
}


@media screen and (max-width: 767px) {
  .header__logo {
    width: calc(142/320*100%);
    height: calc(42/320*100%);
  }
}
