.places__text {
  max-width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  padding-bottom: 26px;
  color: white;
  margin: 0;
}

.places__text:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .places__text {
    max-width: calc(288/320*100%);
    font-size: calc(16/320*100vw);
    line-height: calc(26.08/320*100vw);
    margin-left: calc(16/320*100%);
    margin-right: calc(16/320*100%);
    padding-bottom: calc(25/288*100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places__text {
    font-size: calc(16/768*100vw);
    line-height: calc(26.08/768*100vw);
    padding-bottom: calc(25/352*100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places__text {
    font-size: calc(18/1024*100vw);
    line-height: calc(29.34/1024*100vw);
    padding-bottom: calc(27/456*100%);
  }
}

