.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: calc(24/320*100vw);
    line-height: calc(24/320*100vw);
  }
}
