.footer__links {
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    margin-bottom: 32px;
    margin-right: 0;
  }
}

.footer__links:last-of-type {
   margin: 0;
}


