.page__photo {
  display: grid;
  grid-template-columns: /* repeat(4, 1fr);*/ repeat(auto-fill, minmax(284px, 1fr));
  /*grid-template-rows: repeat(3, 1fr);*/
  width: calc(1184/1280*100%);
  gap: 16px;
  padding: calc(92/1280*100%) 0 0;
  margin: 0 auto;
  list-style: none;
}


@media screen and (max-width: 767px) {
  .page__photo {
    width: calc(288/320*100%);
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 12px;
    padding: calc(64/320*100%) 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page__photo {
    width: calc(720/768*100%);
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 16px;
    padding: calc(88/768*100%) 0 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page__photo {
    width: calc(928/1024*100%);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
    padding: calc(92/1024*100%) 0 0;
  }
}




