.photo__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  width: calc(1184/1280*100%);
  gap: 16px;
  margin: auto;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .photo__list {
    width: calc(288/320*100%);
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo__list {
    width: calc(720/768*100%);
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo__list {
    width: calc(928/1024*100%);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
  }
}
