.cover__title {
  max-width: calc(560/1280*100%);
  padding-bottom: calc(32/1280*100%);

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;

}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc(32/320*100vw);
    line-height: calc(35/320*100vw);
    max-width: calc(288/320*100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    font-size: calc(72/768*100vw);
    line-height: calc(76/768*100vw);
    max-width: calc(560/768*100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    font-size: calc(72/1024*100vw);
    line-height: calc(76/1024*100vw);
    max-width: calc(560/1024*100%);
  }
}



