.page__footer {
  display: flex;
  justify-content: space-between;
  width: calc(1184/1280*100%);
  padding-top: 92px;
  padding-bottom: 24px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .page__footer {
    min-width: calc(186/288*100%);
    margin-left: 16px;
    padding-top: calc(64/320*100%);
    flex-direction: column;
    padding-bottom: calc(24/320*100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page__footer {
   width: calc(720/768*100%);
   padding-top: calc(88/768*100%);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .page__footer {
    width: calc(928/1024*100%);
    padding-top: calc(92/1024*100%);
  }
}




